<a name="top"></a>

<div class="container">
  <div class="bg-txt">
    Scroll to:
    <a href="#voters">Voters</a>
  </div>

  <div class="bg-txt">Total: <%= @voters.count %></div>

  <% @voters.order('name asc').group_by{|x|x.votes.count}.each do |group| %>
    <% if group.first == 0 %>
      <div class="bg-txt">Non-voters: <%= group.last.count %></div>
    <% else %>
      <a name="voters"></a>
      <div class="bg-txt">Voters: <%= group.last.count %></div>
      <div class="bg-txt">
        Scroll to:
        <a href="#top">Top</a>
      </div>
    <% end %>
    <div class="flex-container justify-between wrap">
      <% group.last.each do |user| %>
        <div class="user-card self-start">
          <%= user_info_2 user %>
        </div>
      <% end %>
    </div>
  <% end %>

  <div class="bg-txt">
    Scroll to:
    <a href="#top">Top</a> |
    <a href="#voters">Voters</a>
  </div>
</div>
