<div class="container">
  <h1>Home</h1>
  <div class="flex-container justify-between">
    <%= link_to 'Take Survey', start_path, class: 'card fro home-link' %>
    <%= link_to 'Results', results_path, class: 'card fro home-link' %>
  </div>
</div>
