@import "sass";

body {
  margin: 0;
  background: #F2F2F2;
}
header {
  height: 80px;
  line-height: 80px; // Line height helps the langugage at the top right to stay in the middle`
  background: black;
  color: white;
  text-align: center;
  font-size: 1.2em;
  @include mobile {
    height: 55px;
    line-height: 55px;
    font-size: 16px;
  }
}
.right {
  float: right;
}
.right-2{
  position: absolute;
  right: 0;
}
.inline {
  display: inline;
}
.white {
  color: white;
}
.container {
  margin: 2.5%;
}
.card {
  background: white;
  padding: 1em;
  box-shadow: 0 1px 2px #ccc;
  margin-bottom: 1em;
  @include mobile {
    margin: 2.5%;
  }
}
.pad-right {
  padding-right: 1em;
}
.desktop-only {
  @include mobile {
    display: none;
  }
}
.mobile-only {
  @include immobile {
    display: none;
  }
}
.no-decor {
  text-decoration: none;
}
.mar-bot {
  margin-bottom: 1em;
}
.mar-rig {
  margin-right: 1em;
}

// table stuff
table {
  width: 100%;
  border-collapse: collapse;
  td {
    padding: 4px 0;
  }
  td,
  th {
    @include mobile {
      border-bottom: solid 1px #AAA;
    }
  }
  tr:hover {
    background: #f2f2f2;
  }
}
.min-width {
  width: 1px;
}
.center {
  text-align: center;
}
