@import "sass";

body {
  margin: 0;
  background: #EEEEEE;
  background: $hover;
}
header {
  background: white;
  color: #4C4C4C;
  font-size: 1.2em;
  height: 80px;
  line-height: 80px; // Line height helps the langugage at the top right to stay in the middle`
  text-align: center;
  a {
    color: #4C4C4C;
    text-decoration: none;
  }
  @include mobile {
    font-size: 16px;
    height: 55px;
    line-height: 55px;
  }
}
#logo {
  position: absolute;
  left: 0;
  height: 40px;
  margin: 20px 0 20px 1em;
  @include mobile {
    height: 30px;
    margin: 12.5px 0 12.5px 1em;
  }
}
#google {
  height: 18px;
  padding-left: 0.3em;
}
.right {
  float: right;
}
.right-2{
  position: absolute;
  right: 0;
}
.inline {
  display: inline;
}
.white {
  color: white;
}
.gray-text {
  color: #777
}
.home-link {
  color: #1a0dab;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
  &[disabled] {
    opacity: 0.5;
    z-index: -1;
  }
}
.container {
  margin: 2.5%;
}
.card {
  background: white;
  padding: 1em;
  box-shadow: $card-shadow;
  margin: 0 0 1em;
}
.pad-right {
  padding-right: 1em;
}
.pad-bot {
  padding-bottom: 1em;
}
.pad-top {
  padding-top: 1em;
}
.desktop-only {
  @include mobile {
    display: none;
  }
}
.mobile-only {
  @include immobile {
    display: none;
  }
}
.no-decor {
  text-decoration: none;
}
.mar-bot {
  margin-bottom: 1em;
}
.mar-rig {
  @include immobile {
    margin-right: 1em;
  }
}
.bg-txt {
  color: #777;
  font-size: 18px;
  padding-bottom: 1em;
  @include mobile {
    font-size: 16px;
  }
}
.x-scroll {
  box-shadow: $card-shadow;
  margin-bottom: 1em;
  @include mobile {
    overflow-x: scroll;
  }
}
.txt-area {
  width: 100%;
  resize: vertical;
}
.ft-lg {
  font-size: 1.3em;
  @include mobile {
    font-size: 1em;
  }
}
