@import "sass";
body {
  margin: 0;
}
header {
  height: 80px;
  line-height: 80px;
  background: black;
  color: white;
  text-align: center;
  font-size: 1.2em;
  @include mobile {
    font-size: 16px;
    background: blue;
  }
}
.right {
  float: right;
}
.right-2{
  position: absolute;
  right: 0;
}
.inline {
  display: inline;
}
.white {
  color: white;
}
.container {
  padding: 1em;
}
.pad-right {
  padding-right: 1em;
}
.desktop-only {
  @include mobile {
    display: none;
  }
}
.mobile-only {
  @include immobile {
    display: none;
  }
}
.no-decor {
  text-decoration: none;
}
.req {
  color: #c43b1d;
}
.dish {
  // flex-grow: 1;
  width: 33%;
  border: 1px solid black;
  color: black;
}
.option {
  background: gray;
  width: 90%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  color: white;
  text-decoration: none;
}

// All flex related styling
.flex-container {
  display: flex;
}
.flex-column {
  flex-direction: column;
}
.flex-twin {
  width: 48%;
}
.align-between {
  align-content: space-between;
}
.align-around {
  align-content: space-around;
}
.align-center {
  align-items: center;
}
.justify-between {
  justify-content: space-between;
}
.justify-around {
  justify-content: space-around;
}
.justify-center {
  justify-content: center;
}
.xy-center {
  align-items: center;
  justify-content: center;
}
