@import "sass";

$card-pad: 14px 16px;
$info-btn-width: nth($card-pad, 1) * 2 + 18;

.dish {
  align-self: flex-start;
  background: white;
  box-shadow: $card-shadow;
  margin-bottom: 1em;
  h3 {
    margin: 0;
    padding: $card-pad;
    border-bottom: $thin-line;
  }
}
.dish-container {
  color: #777;
  width: 32%;
  a {
    color: #777;
  }
  @include mobile {
    width: 100%;
  }
}
.option {
  border-bottom: $thin-line;
  display: flex;
  justify-content: space-between;
  a {
    flex-grow: 1;
    padding: $card-pad;
    padding-right: 0;
    text-decoration: none;
    &:hover {
      background: $hover;
    }
    &.selected {
      border-left: 3px solid #4D90FE;
      padding-left: nth($card-pad, 2) - 3;
    }
  }
}

// Flippy stuff
.icon-container {
  align-items: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  width: $info-btn-width;
  &:hover {
    background: $hover;
  }
}
.info-btn {
  height: 17px;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.9s;
  width: 19px;
  &.active {
    transform: rotateY(180deg);
  }
}
.front, .back {
  @include backface(hidden);
  position: absolute;
  text-align: center;
  width: 19px;
  height: 21px;
}
.back {
  transform: rotateY(180deg);
}
// end flippy stuff

.info {
  border-bottom: $thin-line;
  display: none;
  line-height: 1.5em;
  padding: 1em;
}
.grayback {
  // background: gray;
  // background: #bdc3c7;
  // background: #D3D6DB;
  background: #aaa;
}
.greenback {
  // background: #1CB841;
  background: #0F9D58;
}
.redback {
  // background: red;
  background: #DB4437;
}
.disabled {
  cursor: not-allowed;
}
#total {
  height: 40px;
}
#new_vote {
  @include mobile {
    width: 100%;
  }
}

.bg-red {
  background: transparentize($ggl-drawings-red-3, .935) !important;
  &:hover {
    background: transparentize($ggl-drawings-red-3, .81) !important;
  }
}
.bg-blk {
  background: $hover;
  &:hover {
    background: darken($hover, 10%) !important;
  }
}
.bg-blu {
  background: transparentize($ggl-form-blue, .89) !important;
  &:hover {
    background: transparentize($ggl-form-blue, .675) !important;
  }
}
.bg-grn {
  background: transparentize($ggl-sheets-green, .9) !important;
  &:hover {
    background: transparentize($ggl-sheets-green, .715) !important;
  }
}
.bg-prp {
  background: transparentize($ggl-form-purple, .925) !important;
  &:hover {
    background: transparentize($ggl-form-purple, .787) !important;
  }
}

// body {
//   -webkit-filter: grayscale(100%);
//   filter: grayscale(100%);
// }
