<div class="x-scroll">
  <table>
    <thead>
      <th class="min-width"><%= t ".votes" %></th>
      <th><%= t "pages.dish_options.reach" %></th>
    </thead>
    <tbody>
      <% @dishes.group_by(&:reach).each do |reach, reaches| %>
        <tr>
          <td class="center"><%= reaches.sum &:votes %></td>
          <td><%= t "#{Dish.to_reach reach}" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
