<header class="flex-container xy-center">
  <h2 class="inline">Menu Del Pueblo</h2>
  <%= image_tag 'logo.png', id: 'logo' %>
  <span class="right-2 pad-right">
    <%= link_to_language 'English' %>
    <%= link_to_language 'Español' %>
  </span>
</header>
