<header class="flex-container xy-center">
  <h2><%= link_to 'Menu Del Pueblo', root_path %></h2>
  <%= image_tag 'logo.png', id: 'logo' %>
  <span class="right-2 pad-right" style="top:0">
    <%= link_to_language 'English' %>
    <%= link_to_language 'Español' %>
  </span>
</header>
